a {
  color: #525159;
}

.btn {
  padding: 18px 17px;
  border-radius: 13px;
  color: white;
  font-weight: 700;
  text-shadow: 
  1px 1px 0 black,
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black;
  @media (max-width: 1130px) {
    width: 100%;
  }
}

.btn--blue {
  background-color: #616AE8;
  // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.2px black;
}
.btn--green {
  background-color: #22E4A7;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.navigation__items {
  display: flex;
  gap: 84px;
  @media (max-width: 1130px) {
    flex-direction: column;
    align-items: center;
  }
}
.navigation__buttons {
  display: flex;
  gap: 24px;
  @media (max-width: 1130px) {
    padding-top: 84px;
    flex-direction: column;
    align-items: center;
  }
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 43px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 1.2;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  gap: 50px;
  @media (max-width: 1130px) {
    position: fixed;
    justify-content: start;
    background-color: #fff;
    width: 80%;
    top: 0;
    height: 100vh;
    right: -80%;
    padding-top: 100px;
    flex-direction: column;
    gap: 20px;
    z-index: 99;
    transition:all 0.5s ease-out;
  }
}

.header__bars {
  display: none;
  z-index: 99;
  @media (max-width: 1130px) {
    display: block;
  }
}

.show-menu {
  right: 0%;
  top: 0;
}

.show-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #333;
  z-index: 2;
  opacity: 0.5;
}

