a {
  color: #525159;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__items {
  display: flex;
  gap: 84px;
  @media (max-width: 1130px) {
    flex-direction: column;
    align-items: center;
  }
}
.navigation__buttons {
  display: flex;
  gap: 24px;
  @media (max-width: 1130px) {
    padding-top: 84px;
    flex-direction: column;
    align-items: center;
  }
}

.header {
  display: flex;
  position: sticky;
  justify-content: flex-start;
  align-items: center;
  padding-top: 43px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 1.2;
  z-index: 100;
  transition: 0.5s ease;
}

.sticky {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
  padding: 20px 0;
  box-shadow: 0px 5px 6px -6px #999999;
  transition: 0.3s ease-in;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  gap: 50px;
  &:active {
    text-decoration: underline;
  }
  @media (max-width: 1130px) {
    position: fixed;
    justify-content: start;
    background-color: #fff;
    width: 80%;
    top: 0;
    height: 100vh;
    right: -80%;
    padding-top: 100px;
    flex-direction: column;
    gap: 20px;
    z-index: 99;
    transition:all 0.5s ease-out;
  }
}

.header__bars {
  display: none;
  z-index: 99;
  @media (max-width: 1130px) {
    display: block;
  }
}

.show-menu {
  right: 0%;
  top: 0;
  overflow-y: scroll;
}

.show-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #333;
  z-index: 2;
  opacity: 0.5;
}

