.post-content {
  position: relative;
  border-radius: 8px;
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.05);
    img {
      width: 100%;
      padding-bottom: 19px;
   }
   .main-banner {
    position: absolute;
    padding: 6px 19px;
    background-color: #5D69FB;
    font-size: 19px;
    font-weight: 700;
    line-height: 1.26;
    color: white;
    top: 290px
   }
   .main-title {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.14;
    padding-bottom: 4px;
   }
   .main-status {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    padding-bottom: 15px;
   }
}