.page-section {
  position: relative;
}

.page-section__bg {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 41%;
  height: 100%;
  background-size: 100%;
  background-position: 50% 50%;
}

.page-section__bg--left {
  left: 0;
  border-radius: 0 30px 30px 0;
}

.page-section__bg--full {
  width: 100%;
  height: 100%;
  background-size: 100%;
  margin: 0 15px;
  border-radius: 48px;
}





