.page-section {
  padding-top: 149px; 
}

.text-box__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 0;

}

.text-box {
  position: relative;
}

// Color

.text-box__color {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-box-color);
  top: -54px;
  left: -53px;
  overflow: hidden;
  z-index: -1;
  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--text-box-color);
  }
  @media (max-width: 500px) {
    width: 40px;
    height: 40px;
  }
}

.text-box__description {
  font-size: 20px;
  padding-top: 40px;
  font-weight: 500;
  line-height: 1.7;
  color: #7E7FA0;
}

.box-content {
  max-width: 534px;
  background-color: white;
  border-radius: 16px;
  img {
    padding: 30px;
    border-radius: 50%;
    margin-bottom: 42px;
  }
  .title {
    font-size: 23px;
    font-weight: 800;
    line-height: 1.04;
    color: #2D2A3E;
    margin-bottom: 16px;
  }
  .content {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.65;
    color: #7E7FA0;
  }
}

.box-main {
  padding: 39px;
}
