.box-header--center {
  text-align: center;
  .box-header__title {
    padding-top: 143px;
    font-size: 38px;
    font-weight: 800;
    .highlight {
      color: #5E68F9;
    }
  }
  .box-header__subtitle {
    margin: 0 auto;
    font-size: 20px;  
    font-weight: 500;
    line-height: 1.45;
    color: #7E7FA0;
    max-width: 685px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}