
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*, *:before, *:after {
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 


:root {
  --grid: 12;
  --grid-container-width: 1200px;
  --grid-container-gap: 15px;
  --grid-col-gap-vertical: 44px;
  --grid-col-gap-horizontal: 41px;
}


body {
  background-color: #fff;
  color: #666;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  color: #111;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}