$colorPrimary: #f00;
$colorSecondary: #399;
$colorGray1: #111;
$colorGray2: #222;
$colorGray3: #333;
$colorGray6: #666;

$textPrimary: #2D2A3E;
$textSecondary: #7E7FA0;


$fontPrimary: 'Manrope', sans-serif;
$fontSecondary: 'Manrope', sans-serif;